
<ion-view>
  <ion-content>
    <div class="about-page">
      <section class="heading">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>CrimeReports - Frequently Asked Questions (FAQ)</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 content">
              <span class="section-title">For Citizens</span>
              <div id="faq1">
                <h2>Where does the data on CrimeReports come from?</h2>

                <p>The data on CrimeReports is sent on an hourly, daily, or weekly basis from more than
                  1000 participating
                  agencies to the CrimeReports map.
                  Each agency controls their data flow to CrimeReports,
                  including how often they send data, which incidents are included.</p>
              </div>
              <div id="faq2">
                <h2>I see that my local agency is participating, but I don’t see any data. What’s
                  happening?</h2>

                <p>Sometimes, agencies that are sending data have technical issues that cause the data
                  to fall out of date.
                  If you notice that the data in a given region has fallen out of date, please click
                  the “Feedback” button
                  in the bottom-right of the page to let us know. </p>
              </div>
              <div id="faq3">
                <h2>How can I get my local law enforcement agency to join CrimeReports?</h2>
                <p>The data on CrimeReports comes from a national coalition of police departments and
                  sheriff's offices
                  which choose to proactively share data with their communities.
                  If you would like to see data for your neighborhood on CrimeReports, the best way to
                  do so is to contact
                  your local police or sheriff department to encourage them to join.
                </p>
              </div>
              <div id="faq4">
                <h2>How can I sign up for crime alerts?</h2>
                <p>To sign up for crime alerts, search for an address or pan the map to the area that
                  you are interested in,
                  and click the “Create an Alert” button. From there, you will be walked through the
                  process of choosing the
                  frequency of your alerts, the name of your alert, and which incident types you would
                  like to be notified
                  about.
                </p>
                <p>
                  Please note that the alert you receive will exactly reflect your current view of the
                  map - including how
                  far in or out you are zoomed, which incident types you are currently viewing, and
                  which area of the map
                  you are looking at.
                </p>
              </div>

              <div id="faq5">
                <h2>How do I unsubscribe or change my crime alerts?</h2>
                <p>To pause or delete your crime alerts, log into your account, go to Settings, then
                  click on the My Alerts
                  tab. From there, you can pause an alert, delete it, change the frequency, or change
                  the name of the alert.
                  If you’d like to change the location of the alert, simply delete your existing alert
                  and create a new one
                  for the appropriate location.
                </p>
              </div>
              <div id="faq6">
                <h2>Why am I not receiving my alerts?</h2>
                <p>If you are not receiving your free email crime alerts, click on the feedback button
                  and let us know,
                  we’ll help you sort it out.</p>
              </div>
              <div id="faq7">
                <h2>What if I have two homes and want to receive alerts for both of them? </h2>

                <p>No problem! Simply log into your CrimeReports account, navigate to the second area
                  that you would like to
                  receive alerts for, and click the “Create an Alert” button.
                </p>
              </div>
              <div id="faq8">
                <h2>I see my local agency is listed as a Featured Agency. What does that mean?</h2>

                <p>Some agencies who are participating in CrimeReports have made a greater investment in
                  transparency,
                  giving their citizens additional features, functionality, and insight into crime and
                  public safety trends
                  within their communities. To access the additional features of a CrimeReports Plus
                  agency, click on the
                  “Explore” button under a featured agency in the list view, or double-click one of
                  the gold “Explore” icons
                  on the map.</p>
                <p>Within a Featured Agency, citizens can: </p>
                <ul>
                  <li>View crime trends from the “Trends” tab in the list view, including an over time
                    view and breakdowns
                    by time of day and incident type.
                  </li>
                  <li>View the raw data that powers CrimeReports by clicking the “Get This Data on
                    Socrata” button in the
                    footer.
                  </li>
                  <li>See the social media links, twitter feed, and website for the agency.</li>
                </ul>
              </div>
              <div id="faq9">
                <h2>Who pays for CrimeReports?</h2>
                <p>CrimeReports’ service is paid for by your local law enforcement agency. If you like
                  the service, tell
                  them “thanks” next time you see them.</p>
              </div>
              <div id="faq10">
                <h2>Why aren’t there any crime details?</h2>
                <p>CrimeReports relies on individual law enforcement agencies to provide details on
                  crimes. Each agency is
                  different and may provide more or less crime information than others. At minimum,
                  CrimeReports requires
                  four
                  items of information when mapping crimes: type, location, date, and time. All
                  additional information is
                  voluntarily supplied by individual law enforcement agencies.
                </p>
              </div>
              <div id="faq11">
                <h2> Why aren’t there any exact addresses?</h2>
                <p>CrimeReports is committed to providing the public with the most accurate and
                  up-to-date crime
                  information
                  available. However, for the sake of victim privacy, all crime addresses have been
                  rounded to the block
                  level.
                </p>
              </div>
              <div id="faq12">
                <h2>Can I post a crime on the map?</h2>
                <p>CrimeReports works with law enforcement agencies across North America to publish
                  official crime
                  information
                  online. Due to the integrity of the information and service we provide, we cannot
                  accept user-submitted
                  crimes.
                </p>
              </div>
              <div id="faq13">
                <h2>If I were the victim of a crime, could I request that a crime be removed from the
                  map?</h2>
                <p>Unfortunately, CrimeReports does not have the ability or resources to verify the
                  identity or victim
                  status of
                  individual users. If you would like to remove a crime from the map, contact your
                  local law enforcement
                  agency
                  and request that the crime be removed.
                </p>
              </div>
              <div id="faq14">
                <h2>Mapping Errors</h2>
                <p>CrimeReports has a greater than 99% mapping accuracy rate; however, occasionally a
                  crime incident or
                  address
                  may be mapped in the wrong place, have the wrong information, or not appear at all.
                  There are several
                  reasons why these anomalies might occur:</p>
                <ul>
                  <li>
                    <strong>Maps Error—</strong>
                    If a crime or address does not appear on the map, the map may be outdated and
                    may not
                    recognize
                    the location, this is especially true when looking at new housing developments
                    or new roads. If your
                    address
                    does not appear on the map, and you would like further assistance please click
                    on the feedback button,
                    provide us with details and we’ll look into it.
                  </li>
                  <li>
                    <strong>Reporting Error—</strong>
                    If a crime is in the wrong place or there is an error in the information (date,
                    time,
                    type,
                    etc.), the error may be part of the original police report itself. Because
                    CrimeReports receives
                    official
                    crime information directly from law enforcement agencies, if an error exists in
                    the original record,
                    that
                    error will be reflected on the map.
                  </li>
                  <li>
                    <strong>Upload Delay—</strong>
                    Each law enforcement agency records its crime reports in Records Management
                    Systems (RMS)
                    and
                    Computer Aided Dispatch (CAD) systems. If a crime has recently occurred, it will
                    not be posted to the
                    CrimeReports map until after it has been recorded and processed by those systems
                    and then sent to
                    CrimeReports—approximately 24 hours.
                  </li>
                  <li>
                    <strong>Upload Schedule—</strong>
                    Most agencies upload data every 24 hours; however, some agencies upload their
                    data
                    less
                    frequently. If a crime does not appear right away, it may appear in the next 24
                    hours or more, depending
                    on
                    the upload schedule of the reporting agency.
                  </li>
                  <li>
                    <strong>Victim Privacy—</strong>
                    Many agencies choose not to display sexual assaults, domestic disputes, rape,
                    murder,
                    or
                    other serious, violent crimes for the sake of victim privacy.
                  </li>
                  <li>
                    <strong>Ongoing Investigations—</strong>
                    Some crimes are not displayed because they are part of an ongoing investigation.
                    Prematurely releasing information to the public may harm those investigations.
                  </li>
                  <li>
                    <strong>Sex Offender Data—</strong>
                    CrimeReports receives a national feed of sex offender data that is updated on a
                    weekly
                    basis. If after a few weeks the sex offender data is still incorrect, click on
                    the feedback button and
                    let
                    us know. We’ll verify the information and make any necessary changes.
                  </li>
                  <li>
                    <strong>Expired Data—</strong>
                    CrimeReports provides crime information to the public for the previous 6 months
                    for
                    non-featured agencies. Crime data outside the 6 month window will not be shown.
                    For featured agencies crime information to the public can be up to the previous
                    2 years. Crime data
                    outside
                    the 2 year window will not be shown.
                  </li>
                  <li>
                    <strong>Status/Type Error—</strong>
                    From time to time, the investigation of a crime leads to the re-classification
                    of
                    the
                    crime type or a complete dismissal of the crime itself. Any change in the status
                    or type of a crime will
                    be
                    reflected on the CrimeReports map.
                  </li>
                </ul>
              </div>
              <span class="section-title">For Law Enforcement</span>
              <div id="faq15">
                <h2>How do I login to manage my crime data?</h2>
                <p>
                  <strong>If you are a CrimeReports Free customer here’s what you do:</strong><br>
                  If you historically accessed your Analytics, Predictive or CrimeReports
                  administrative panel using
                  <a href="https://www.crimereports.com/" target="_blank">crimereports.com</a>,please update your
                  bookmarks to
                  <a href="https://legacy.crimereports.com/" target="_blank">legacy.crimereports.com</a>
                  to continue to access the admin panel for managing your data.
                  We recommend that you start using <a href="https://www.commandcentral.com/" target="_blank">commandcentral.com</a>
                  rather than <a href="https://www.crimereports.com/" target="_blank">crimereports.com</a> as all
                  admin access will
                  transition to this new URL in the future.
                </p><br>
                <br>
                <p>
                  <strong>If you are a CrimeReports Plus customer here’s what you do:</strong><br>
                  If you have not already created an agency account on the new service please email
                  <a href="mailto:support@socrata.com" target="_blank">support@socrata.com</a> and
                  the team will set you up with an account. Once your account is setup, login and
                  you’ll see the following
                  window, select Data Management and you will directed to the login page for data
                  administration.
                </p>
                <figure class="img-figure"><img class="img-responsive"
                                                src="https://socrata-crimereports-herokuapp-com.global.ssl.fastly.net/assets/cr_data_adminstration-18f13998fb3b825c856395ffc155d9d6be5d7f56ea45843e1e26502ac7f83f02.png">
                </figure>
              </div>
              <div id="faq16">
                <h2>Does CrimeReports reduce crime?</h2>
                <p>Although no formal, third-party study has been commissioned, there is anecdotal
                  evidence to suggest that
                  public-facing crime mapping—by keeping citizens informed about crime in their
                  area—helps them be more
                  vigilant and implement crime prevention efforts in their homes, workplaces, and
                  communities. In addition,
                  there is anecdotal evidence to suggest that public-facing crime mapping fosters more
                  trust in local law
                  enforcement by members of the community.
                </p>
              </div>

              <div id="faq17" class="ikon-credits" ng-modal="iconCreditsCollapsed">
                <h2 ng-click="aboutPage.iconCredits()">
                  Icon Credits
                  <span ng-class="{'icon-arrow-up': !iconCreditsCollapsed, 'icon-arrow-down': iconCreditsCollapsed}"></span>
                </h2>
                <table class="table credits-table" ng-show="!iconCreditsCollapsed">
                  <thead>
                  <th class="credits-th">Noun Project</th>
                  <th class="credits-th">Courtesy of <a
                        href="http://creativecommons.org/licenses/by/3.0" target="_blank"> Creative
                      Commons
                      Attribution</a></th>
                  </thead>
                  <tbody class="credits-tbody">
                    <tr>
                      <td>Assault</td>
                      <td>Aha-Soft</td>
                    </tr>
                    <tr>
                      <td>Breaking and Entering</td>
                      <td>OCHA Visual Information Unit</td>
                    </tr>
                    <tr>
                      <td>Fire</td>
                      <td>Pavel N.</td>
                    </tr>
                    <tr>
                      <td>Homicide</td>
                      <td>OCHA Visual Information Unit</td>
                    </tr>
                    <tr>
                      <td>Kidnapping</td>
                      <td>OCHA Visual Information Unit</td>
                    </tr>
                    <tr>
                      <td>Other</td>
                      <td>Arthur Shlain</td>
                    </tr>
                    <tr>
                      <td>Police</td>
                      <td>Edward Boatman</td>
                    </tr>
                    <tr>
                      <td>Proactive Policing</td>
                      <td>Icons8, RU</td>
                    </tr>
                    <tr>
                      <td>Property</td>
                      <td>Giovanni Tagliente</td>
                    </tr>
                    <tr>
                      <td>Quality of Life</td>
                      <td>Nick Kinling</td>
                    </tr>
                    <tr>
                      <td>Robbery</td>
                      <td>Sergey Patutin</td>
                    </tr>
                    <tr>
                      <td>Sexual offense</td>
                      <td>Hello Many</td>
                    </tr>
                    <tr>
                      <td>Sheriff</td>
                      <td>Mister Pixel</td>
                    </tr>
                    <tr>
                      <td>Theft</td>
                      <td>Ates Evren Aydinel</td>
                    </tr>
                    <tr>
                      <td>Traffic</td>
                      <td>Sina & Marie</td>
                    </tr>
                    <tr>
                      <td>Vehicle</td>
                      <td>Luca Laruffa</td>
                    </tr>
                    <tr>
                      <td>Drugs</td>
                      <td>Alex Auda Samora</td>
                    </tr>
                    <tr>
                      <td>Alcohol</td>
                      <td>Nick Kinling</td>
                    </tr>
                    <tr>
                      <td>Disorder</td>
                      <td>Juan Pablo Bravo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-4 table-of-contents hidden-xs">
              <h4>Table of Contents</h4>
              <ul>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq1')">Where does the
                    data on
                    CrimeReports come from?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq2')">I see that my
                    local agency is
                    participating, but I don’t see any data. What’s happening?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq3')">How can I get
                    my local
                    law enforcement agency to join CrimeReports?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq4')">How can I sign
                    up for crime
                    alerts?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq5')">How do I
                    unsubscribe or change my
                    crime alerts?</a>
                </li>
                <li>
                  <a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq6')">Why am I not
                    receiving my
                    alerts?</a>
                </li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq7')">What if I have
                    two homes and want
                    to receive alerts for both of them?</a>
                </li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq8')">I see my local
                    agency is listed as
                    a Featured Agency. What does that mean?</a></li>
                <li>
                  <a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq9')">Who pays for
                    CrimeReports?</a>
                </li>
                <li>
                  <a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq10')">Why aren’t
                    there any crime
                    details?</a>
                </li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq11')">Why aren’t
                    there any exact
                    addresses?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq12')">Can I post a
                    crime on the
                    map?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq13')">If I were the
                    victim of a crime,
                    could I request that a crime be removed from the map?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq14')">Mapping
                    Errors</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq15')">How do I
                    login to manage
                    my crime data?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq16')">Does
                    CrimeReports reduce
                    crime?</a></li>
                <li><a href="javascript:void(0)" ng-click="aboutPage.scrollToId('#faq17')">Icon
                    credits</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>