<ion-view>
  <ion-content overflow-scroll="false" class="no-margin-top">
    <div class="terms-and-privacy terms-and-policies">
      <section class="heading">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Terms of Service - Motorola Solutions CrimeReports</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="section-body main">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 content">
              <p>PLEASE READ THIS AGREEMENT CAREFULLY.</p>

              <p>BY CHECKING THE BOX INDICATING YOUR ACCEPTANCE OF THIS AGREEMENT, AND: 1) CLICKING
                SUBMIT; OR OTHERWISE ACCESSING OR USING THE SERVICE, YOU REPRESENT AND WARRANT THAT YOU
                HAVE READ THIS AGREEMENT AND THAT YOU ARE AUTHORIZED TO ENTER INTO THIS AGREEMENT ON
                BEHALF OF CUSTOMER AND BIND CUSTOMER TO THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE
                TO THE TERMS BELOW, OR DO NOT HAVE THE REQUISITE AUTHORITY TO ENTER INTO THIS AGREEMENT,
                YOU SHOULD CLICK ON THE "CANCEL" BUTTON AND MUST NOT ACCESS OR USE THE SERVICE.</p>

              <p>This Terms of Service agreement ("<strong>Agreement</strong>") is between Motorola
                Solutions, Inc. ("<strong>Motorola</strong>"), and the entity or organization ("<strong>Customer</strong>")
                named on one or more Order Forms (defined below) for purchasing services from Motorola,
                including, but not limited to, certain computer programs, documentation, and other
                proprietary material that belong to Motorola and its technology providers ("<strong>Services</strong>").
                1. <strong>ORDER FORMS</strong>. Customer shall execute one or more Motorola order forms
                that will contain provisions regarding fees, payment process, and other business terms
                ("Order Form"). Once executed by the parties, any Order Form becomes part of this
                Agreement, and is incorporated by reference herein.</p>

              <ol start="2">
                <li>
                  <p><strong>DEFINITIONS.</strong></p>

                  <ul>
                    <li>2.1 <strong>Customer Data</strong> means all datasets, discussion forums,
                      and other interactive areas, features or services which Customer creates,
                      posts or stores or uploads to the Service or provides to Motorola
                      (including, without limitation, any content, messages, materials, data, data
                      structures, spreadsheets, entries, information, text, music, sound, photos,
                      video, graphics, code or other items or materials) or that are processed via
                      the Services.
                    </li>

                    <li>2.2 <strong>De-Identified Data</strong> means any Customer Data within the
                      Service that has been modified to remove the following information with
                      respect to any particular victim, suspect, witness, officer or perpetrator:
                      names, specific street addresses, criminal histories or arrest or
                      investigative information.
                    </li>

                    <li>2.3 <strong>Documentation</strong> means the technical materials provided by
                      Motorola to Customer describing the use and operation of the Service.
                    </li>

                    <li>2.4 <strong>Term</strong> has the meaning given in Section 7.1.</li>

                    <li>2.5 <strong>Users</strong> means Customer's current employees who are
                      authorized to utilize the Services and who will be provided access to the
                      Services by virtue of a password or the equivalent thereof from Customer.
                      Users may be required to acknowledge and accept terms of use as a condition
                      to and prior to access or use of Services.
                    </li>
                  </ul>
                </li>

                <li>
                  <p><strong>SERVICE.</strong></p>
                  <ul>
                    <li>3.1 <strong>Use of the Service.</strong> Subject to the terms of this
                      Agreement, Motorola grants to Customer a limited, non-exclusive,
                      non-transferable, right to use and access the Service during the term of
                      each Order Form, solely for Customer's internal purposes and to use and
                      reproduce a reasonable number of copies of the Documentation solely to
                      support Customer's use of the Services.
                    </li>

                    <li>3.2 <strong>License Grant to Motorola</strong>. Customer grants to Motorola
                      and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable,
                      fully sublicensable, right to use, reproduce, modify, adapt, publish,
                      translate, create derivative works from, distribute, analyze, perform and
                      display, the Customer Data in connection with the Service and in general for
                      Motorola to provide its services to its users. Customer understands that
                      once Customer Data is uploaded to the Service, Motorola and content users
                      may have a limited ability to control or delete such content.
                    </li>

                    <li>3.3 <strong>Usernames and Passwords</strong>. Customer is responsible for
                      maintaining the confidentiality of all Users' usernames and passwords, and
                      is solely responsible for all activities that occur under these usernames.
                      Customer agrees (a) not to allow a third party to use its account, usernames
                      or passwords at any time, and (b) to promptly notify Motorola customer
                      support in writing of any actual or suspected unauthorized use of its
                      account, usernames or passwords, or any other breach or suspected breach of
                      the obligations contained in this Section 3. Customer accepts all risks of
                      unauthorized access to the Customer Data or other information Customer
                      uploads to the Service. Customer is responsible for all activity that occurs
                      under Customer’s account, and Customer should not share username or password
                      with any unauthorized party.
                    </li>

                    <li>3.3 <strong>Restrictions on Use</strong>. Customer acknowledges that the
                      Services, and any associated software constitute valuable Intellectual
                      Property of Motorola and its technology providers. Customer agrees that it
                      will not, and will not permit any User or other third party to: (a) permit
                      any third party to access or use the Services, other than the Users
                      authorized under this Agreement; (b) modify, adapt, alter or translate the
                      Services, except as expressly allowed herein; (c) sublicense, lease, rent,
                      loan, distribute, or otherwise transfer the Services to any third party; (d)
                      reverse engineer, decompile, disassemble, or otherwise derive or determine
                      or attempt to derive or determine the source code (or the underlying ideas,
                      algorithms, structure or organization) of the Services; (e) use or copy the
                      Services (including any Documentation) except as expressly allowed under
                      this Section 3; or (f) disclose or transmit any data contained in the
                      Services to any individual other than a User, except as expressly allowed
                      herein. The copyright and all other Intellectual Property Rights in the
                      Services are the sole and exclusive property of Motorola or its technology
                      providers.
                    </li>

                    <li>3.5 <strong>Appropriate User Conduct</strong>. Customer will not use the
                      Service to: (a) send unsolicited or unauthorized email, advertising,
                      promotional materials, junk mail, spam, chain letters, pyramid schemes or
                      any other form of duplicative or unsolicited messages, whether commercial or
                      otherwise; (b) harvest, collect, gather or assemble information or data
                      regarding other users, including email addresses; (c) transmit through or
                      post on the Services, unlawful, immoral, libelous, abusive, harassing,
                      tortuous, defamatory, threatening, harmful, invasive of another's privacy,
                      vulgar, obscene or otherwise objectionable material of any kind or nature or
                      which is harmful to minors in any way; (d) transmit any material that may
                      infringe the intellectual property rights or other proprietary rights of
                      third parties, including trademark, copyright or right of publicity; (e)
                      transmit any material that contains software viruses or other harmful or
                      deleterious computer code, files or programs such as Trojan horses, worms,
                      time bombs or cancel bots; (f) interfere with or disrupt the integrity of
                      any data or computer-based information or any servers or networks connected
                      to the Services or violate the regulations, policies or procedures of such
                      networks; (g) attempt to gain unauthorized access to the Services, other
                      accounts, computer systems or networks connected to the Services; or (h)
                      harass or interfere with another user's use and enjoyment of the Services.
                      Any use of the Licensed Product or Service in violation of the foregoing or
                      other restrictions set forth in this Agreement violates this Agreement and
                      may result in, among other things, termination or suspension of Customer’s
                      right to use the Service. Customer acknowledges and understands that the
                      Service is not designed to process or store any information subject to
                      HIPAA, GLB, or PCI compliance.
                    </li>
                  </ul>
                </li>

                <li><strong>SUPPORT.</strong> Motorola will provide its technical support services to
                  Customer under its support program
                </li>

                <li><strong>PAYMENT.</strong> Customer will pay to Motorola the fees set forth in the
                  Order Form(s) ("Fees"). Except as otherwise provided in the Order Form, all Fees and
                  other charges are due and payable to Motorola within thirty (30) days after the date
                  of Motorola' invoice to Customer. The Fees are exclusive of all applicable sales,
                  use, value-added and other taxes, and all applicable duties, tariffs, assessments,
                  export and import fees, or other similar charges, and Customer will be responsible
                  for payment of all taxes imposed on it (other than taxes based on Motorola' income
                  in the United States), fees, duties, and charges and any related penalties and
                  interest, arising from the payment of the Fees, except where exempted by applicable
                  federal and/or state law. An administrative fee of $35.00 per invoice will be
                  charged for any electronic transaction that is declined and any returned checks. In
                  addition, any amounts not paid when due shall bear interest at a nominal rate of one
                  and one half percent (1.5%) per month, or the maximum legal rate if less. Motorola
                  shall be entitled to withhold performance and discontinue service until all amounts
                  due are paid in full. Customer shall have ninety (90) days from receipt of an
                  invoice to dispute any portion of the invoice, and any issue not raised by Customer
                  in writing within ninety (90) days from receipt of the invoice is hereby irrevocably
                  waived by Customer.
                </li>

                <li>
                  <p><strong>TERM AND TERMINATION.</strong></p>

                  <ul>
                    <li>6.1 <strong>Term</strong>. This Agreement commences on the date of execution
                      and remains in effect for the time period indicated in the Order Form, or,
                      if no specific period is set forth in the Order Form, then for a period of
                      one (1) year thereafter (the “Initial Term”) unless earlier terminated in
                      accordance with Section 6.2. This Agreement shall be automatically renewed
                      for consecutive one (1) year terms at then current rates unless either party
                      provides written notice to the other of its intention not to renew at least
                      ten (10) days prior to the expiration of the term then in effect; provided
                      that in the event that Motorola provides written notice to Customer prior to
                      the end of the Initial Term or any subsequent term (which notice may take
                      the form of the last invoice sent to Customer prior to the end of the
                      applicable term then in effect) of an increase in the Fees to be charged to
                      Customer, such increase shall automatically take effect for the subsequent
                      term unless Customer notifies Motorola of its intention not to renew prior
                      to the expiration of the term then in effect (in any such event Customer
                      shall have at least fifteen (15) days following any such notice of an
                      increase in Fees to notify Motorola of its intention not to renew for such
                      additional period even if such additional period would have otherwise
                      commenced). The Initial Term and any renewals thereof shall be collectively
                      referred to as the "Term."
                    </li>

                    <li>
                      <p>6.2 <strong>Termination</strong>.</p>

                      <ul>
                        <li>(a) <strong>For Cause</strong>. This Agreement may be terminated
                          immediately by either party: (i) upon the material breach by the
                          other party of any of such other party's obligations hereunder,
                          which breach has not been cured within thirty (30) days after the
                          breaching party has received written notice thereof; (ii) if all or
                          a substantial portion of the assets of the other party are
                          transferred to an assignee for the benefit of creditors, to a
                          receiver or to a trustee in bankruptcy, a proceeding is commenced by
                          or against the other party for relief under bankruptcy or similar
                          laws and such proceeding is not dismissed within sixty (60) days, or
                          the other party is adjudged bankrupt; or (iii) immediately upon
                          written notice if Customer (a) fails to make the payments specified
                          under Section 5 when due for a second time in any calendar year or
                          (b) violates the restrictions in Sections 3 or 7.
                        </li>

                        <li>(b) <strong>Effect of Termination</strong>. Upon termination of this
                          Agreement for any reason, any amounts owed to Motorola shall be paid
                          by Customer and all Customer access to the Services shall be
                          terminated by Motorola. Notwithstanding the foregoing, provided that
                          Customer is not in breach and has made all payments required under
                          Section 6, Customer may request and receive from Motorola a text
                          file copy of all Customer Data in an "as is and with all faults"
                          condition. All payment obligations of Customer, and Sections 2, 3.3,
                          8.2, 8.3, 8.4, 9, 10 and 11 shall survive any termination or
                          expiration of this Agreement.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <p><strong>CONFIDENTIALITY AND OWNERSHIP.</strong></p>

                  <ul>
                    <li>7.1 <strong>Confidential Information</strong>. During the Term of this
                      Agreement, each party (the "Disclosing party") may provide the other party
                      (the "Receiving party") with certain information regarding the Disclosing
                      party's business, technology, products, or services or other confidential or
                      proprietary information (collectively, "Confidential Information"). The
                      Disclosing party will mark all Confidential Information in tangible form as
                      "confidential" or "proprietary" or other similar legend and identify all
                      Confidential Information disclosed orally as confidential at the time of
                      disclosure and provide a written summary of such Confidential Information
                      within thirty (30) days after such oral disclosure. Regardless of whether so
                      marked or identified, the Services and all enhancements and improvements
                      thereto will be considered Confidential Information of Motorola and its
                      technology providers, and all Customer Data (excluding De-Identified Data)
                      will be considered Confidential Information of Customer.
                    </li>

                    <li>7.2 <strong>Protection of Confidential Information</strong>. The Receiving
                      party shall use the Disclosing party's Confidential Information solely for
                      the purpose of performing such party's obligations hereunder, or receiving
                      the benefits of this Agreement as expressly set forth herein. The Receiving
                      party will limit access to the Confidential Information to Users (with
                      respect to Customer) or to those employees who have a need to know, who have
                      confidentiality obligations no less restrictive than those set forth herein.
                      In addition, the Receiving party will protect the Confidential Information
                      from unauthorized use, access, or disclosure in the same manner as it
                      protects its own proprietary information of a similar nature, and in no
                      event with less than reasonable care. At the Disclosing party's request or
                      upon termination of this Agreement, the Receiving party will return to the
                      Disclosing party or destroy all copies of the Confidential Information that
                      the Receiving party does not have a continuing right to use under this
                      Agreement, and upon request the Receiving party shall provide to the
                      Disclosing party a written certification regarding compliance with this
                      sentence.
                    </li>

                    <li>7.3 <strong>Exceptions</strong>. The confidentiality obligations set forth
                      in Section 7.2 will not apply to any information that the Receiving party
                      can demonstrate: (a) becomes generally available to the public through no
                      fault of the Receiving party; (b) is lawfully provided to the Receiving
                      party by a third party free of any confidentiality duties or obligations;
                      (c) was already known to the Receiving party at the time of disclosure; or
                      (d) was independently developed by employees and contractors of the
                      Receiving party who had no access to the Confidential Information. In
                      addition, the Receiving party may disclose Confidential Information to the
                      extent that such disclosure is necessary for the Receiving party to (i)
                      enforce its rights under this Agreement or (ii) as required by law or by the
                      order of a court or similar judicial or administrative body, provided that
                      the Receiving party promptly notifies the Disclosing party in writing of
                      such required disclosure and cooperates with the Disclosing party to seek an
                      appropriate protective order.
                    </li>

                    <li>7.4 <strong>Ownership</strong>. The Services and its underlying technology
                      and software, and Motorola' Confidential Information, and all other
                      materials provided to Customer by Motorola hereunder, including all manuals,
                      reports, records, programs, data and other materials, and all intellectual
                      property rights in each of the foregoing are the exclusive property of
                      Motorola or its technology providers. Customer understands and agrees that
                      Motorola will include the De-Identified Data in the Motorola' database(s)
                      which form part of the Services, and that all such De-Identified Data shall
                      be owned solely and exclusively by Motorola without any limitation or
                      restriction whatsoever.
                    </li>

                    <li>7.5 <strong>Customer Data</strong>. Customer warrants and represents to
                      Motorola that: 1) Customer has all rights necessary to provide such Customer
                      Data to Motorola for the uses as contemplated hereunder; 2) None of the
                      Customer Data impersonates any person or entity or otherwise misrepresents
                      Customer’s affiliation with a person or entity; and 3) Whether provided
                      intentionally or inadvertently, Customer warrants that any personally
                      identifiable data has been provided with the authority of such person or as
                      authorized by the applicable law.
                    </li>

                    <li>7.6 <strong>Customer Data Restrictions</strong>. Customer will not provide
                      or upload any data that: 1) would constitute, encourage or provide
                      instructions for a criminal offense, violate the rights of any individual or
                      entity, or that would otherwise create liability or violate any law; 2) is
                      unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd,
                      suggestive, harassing, threatening, invasive of privacy or publicity rights,
                      abusive, inflammatory, fraudulent or otherwise objectionable; 3) may
                      infringe any patent, trademark, trade secret, copyright or other
                      intellectual or proprietary right of any party.
                    </li>
                  </ul>
                </li>

                <li>
                  <p><strong>LIMITED WARRANTY</strong>. Motorola warrants to Customer that, during the
                    Term, the Services will operate substantially in accordance with the
                    Documentation.</p>

                  <ul>
                    <li>This limited warranty shall not apply to problems that result from: (i)
                      factors outside of Motorola' reasonable control; (ii) any failure by
                      Customer to comply with this Agreement; (iii) any failure by Customer to use
                      the Services in accordance with the Documentation or other instructions
                      provided to Customer by Motorola; (iv) any unauthorized use of the Services;
                      (v) Customer's or any third party's hardware, software, and equipment; (vi)
                      the fault or negligence of Customer, Users, operator error, improper use or
                      misuse of the Services, or any other causes external to the Services or
                      Motorola; or (vii) downtime as a result of scheduled maintenance performed
                      by or for Motorola.
                    </li>

                    <li>IN THE EVENT OF A BREACH OF THE FOREGOING WARRANTY, CUSTOMER'S SOLE AND
                      EXCLUSIVE REMEDY, AND MOTOROLA' ONLY OBLIGATION, AT MOTOROLA' DISCRETION,
                      WILL BE TO REPAIR OR REPLACE THE SERVICE WITHIN THIRTY (30) DAYS AFTER
                      MOTOROLA RECEIVES CUSTOMER'S WRITTEN NOTICE OF THE MATERIAL NONCONFORMITY,
                      OR IF MOTOROLA DETERMINES THAT IT IS NOT COMMERCIALLY FEASIBLE TO REPAIR OR
                      REPLACE THE SOFTWARE, MOTOROLA WILL REFUND THE AMOUNT OF ANY FEES ACTUALLY
                      PAID BY CUSTOMER TO MOTOROLA UNDER THIS AGREEMENT FOR THE APPLICABLE MONTH’S
                      FEE.
                    </li>
                  </ul>
                </li>

                <li>
                  <p><strong>DISCLAIMERS AND LIMITATION OF LIABILITY</strong>.</p>

                  <ul>
                    <li>9.1 <strong>Disclaimer</strong>. EXCEPT AS EXPRESSLY PROVIDED IN SECTION 8,
                      THE SERVICES ARE PROVIDED "AS IS," AND, TO THE MAXIMUM EXTENT PERMITTED
                      UNDER APPLICABLE LAW, MOTOROLA MAKES NO (AND HEREBY DISCLAIMS ALL) OTHER
                      WARRANTIES, REPRESENTATIONS, INCLUDING ANY IMPLIED WARRANTIES OF
                      MERCHANTABILITY, TITLE, AGAINST INFRINGEMENT, OR FITNESS FOR A PARTICULAR
                      PURPOSE, WITH RESPECT TO THE SERVICE. WITHOUT LIMITING THE FOREGOING,
                      MOTOROLA DOES NOT WARRANT THAT THE OPERATION OF THE SERVICE SHALL BE
                      UNINTERRUPTED OR ERROR-FREE.
                    </li>

                    <li>9.2 <strong>Limitation of Liability</strong>. TO THE MAXIMUM EXTENT
                      PERMITTED UNDER APPLICABLE LAW, IN NO EVENT SHALL MOTOROLA, ANY AFFILIATE OR
                      TECHNOLOGY PROVIDER, BE LIABLE TO CUSTOMER FOR ANY SPECIAL, INDIRECT,
                      INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING DUE TO LOSS OF
                      PROFITS OR DATA, REGARDLESS OF THE CAUSE OF ACTION OR THE THEORY OF
                      LIABILITY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, EVEN IF THE MOTOROLA HAS
                      BEEN NOTIFIED OF THE LIKELIHOOD OF SUCH DAMAGES. TO THE MAXIMUM EXTENT
                      PERMITTED UNDER APPLICABLE LAW, THE CUMULATIVE LIABILITY OF MOTOROLA,
                      ARISING OUT OF OR IN ANY WAY CONNECTED TO THIS AGREEMENT, SHALL NOT EXCEED
                      THE FEES PAID BY CUSTOMER TO MOTOROLA FOR THE PREVIOUS THREE (3) MONTHS
                      PRIOR TO THE EVENT WHICH GAVE RISE TO THE CLAIM. THE EXISTENCE OF ONE OR
                      MORE CLAIMS UNDER THIS AGREEMENT WILL NOT INCREASE A PARTY'S LIABILITY IN
                      EXCESS OF THE FOREGOING.
                    </li>

                    <li>9.3 NOT FOR 911 LEVEL EMERGENCY USE. <strong>THE SERVICES ARE NOT INTENDED
                        FOR 911 LEVEL EMERGENCY USE</strong>. Some of Motorola' processes are not
                      under the direct control of Motorola, which processes are subject to
                      unexpected service interruptions. <strong>CUSTOMER AGREES THAT IT SHALL NOT
                        PROMOTE OR RELY UPON ANY OF THE SERVICES FOR TRUE EMERGENCY OR URGENT
                        USE</strong>.
                    </li>

                    <li>9.4 <strong>No Liability for Customer Data</strong>. Neither Motorola nor
                      its representatives have any responsibility whatsoever for any Customer Data
                      or user content posted, stored or uploaded to the Services, nor are they
                      liable for any mistakes, defamation, slander, libel, omissions, falsehoods,
                      obscenity, pornography or profanity within the Service. Customer’s reliance
                      on any content that it obtains through use of the Service is at Customer’s
                      own risk. Although neither Motorola nor its representatives have any
                      obligation to monitor any of the Customer Data or other non-Motorola
                      provided information, MOTOROLA RESERVES THE RIGHT TO REMOVE ANY CONTENT
                      WITHOUT ADVANCE NOTICE IF SUCH CONTENT MAY, IN MOTOROLA’S OPINION, CREATE
                      POTENTIAL LIABILITY.
                    </li>
                  </ul>
                </li>

                <li><strong>INDEMNIFICATION</strong>. To the extent permitted by applicable law,
                  Customer will defend at its expense any suit brought against Motorola or its
                  technology provider and will pay any settlement Customer makes or approves or any
                  damages finally awarded in such suit insofar as such suit is based on a claim by any
                  third party based upon, resulting from or related to: (a) Customer's and its Users'
                  use of the Services, including any search, analysis, report or conclusion generated
                  from the Services; or (b) any improper or unauthorized use of the Services by
                  Customer, including its Users. Customer's obligation as set forth in the foregoing
                  sentence is expressly conditioned upon each of the foregoing: (i) Motorola shall
                  promptly notify Customer in writing of any threatened or actual claim or suit; (ii)
                  Customer shall have sole control of the defense or settlement of any claim or suit,
                  except that Customer may not, without Motorola' prior written consent, enter into
                  any settlement that does not unconditionally release Motorola and its technology
                  providers from liability; and (iii) Motorola shall cooperate with Customer to
                  facilitate the settlement or defense of any claim or suit.
                </li>

                <li><strong>COMMERCIAL COMPUTER SOFTWARE</strong>. This Section 12 only applies to U.S.
                  Government end users. The Services are commercial items as that term is defined at
                  48 C.F.R. Part 2.101, consisting of “commercial computer software” and “computer
                  software documentation” as such terms are defined in 48 C.F.R. Part
                  252.227-7014(a)(1) and 48 C.F.R. Part 252.227-7014(a)(5), and used in 48 C.F.R. Part
                  12.212 and 48 C.F.R. Part 227.7202, as applicable. Consistent with 48 C.F.R. Part
                  12.212, 48 C.F.R. Part 252.227-7015, 48 C.F.R. Part 227.7202-1 through 227.7202-4,
                  48 C.F.R. Part 52.227-19, and other relevant sections of the Code of Federal
                  Regulations, as applicable, the Service are provided to U.S. Government end users:
                  (a) only as commercial items, and (b) with only those rights as are granted to all
                  other end users pursuant to the terms and conditions contained herein.
                </li>

                <li>
                  <p><strong>GENERAL PROVISIONS</strong>.</p>
                  <ul>
                    <li>12.1 <strong>Compliance with Laws</strong>. Customer will comply with all
                      applicable laws and regulations in its use of the Service. Customer further
                      agrees to comply with all applicable laws and regulations in providing the
                      Customer Data to Motorola. Customer will obtain at its expense all necessary
                      licenses, permits and regulatory approvals required by any and all
                      governmental authorities as may from time to time be required in connection
                      with its activities related to the Service. To the extent permitted by
                      applicable law, Customer will defend, indemnify, and hold harmless Motorola
                      and its technology provider from and against any violation of such laws or
                      regulations by Customer or any of its agents, officers, directors, or
                      employees.
                    </li>

                    <li>12.2 <strong>Assignment</strong>. Customer may not assign or transfer, by
                      operation of law or otherwise, any of its rights under this Agreement to any
                      third party, or transfer any of the license rights granted hereunder,
                      without the prior written consent of Motorola, which consent shall not be
                      unreasonably withheld or delayed. Any attempted assignment or transfer in
                      violation of the foregoing will be void. Motorola may freely assign this
                      Agreement, or subcontract or otherwise delegate its obligations hereunder,
                      in whole or in part, to any third party, and further provided, with respect
                      to any such delegation or subcontracting of any of Motorola' duties
                      hereunder, Motorola will remain obligated to Customer for performance of
                      such duties as set forth herein. Subject to the foregoing, this Agreement
                      shall inure to the benefit of each party's successors and permitted assigns.
                      Motorola may upon at least 30 days’ written notice, assign and transfer
                      without Customer’s consent this Agreement to any successor of the Service.
                      Upon such assignment, the successor will then be bound by the terms of this
                      Agreement and each Order effective as of the date of the assignment and
                      transfer.
                    </li>

                    <li>12.3 <strong>Force Majeure</strong>. Except for obligations of payment,
                      neither party shall be liable for any delay or failure in performing
                      hereunder if such failure arises, directly or indirectly, out of causes
                      beyond the reasonable control of such party, including acts of strike,
                      shortages, failure of suppliers, riots, insurrection, fires, floods, storms,
                      earthquakes, acts of God, war, government action, labor conditions,
                      lightning, power surges or failures, terrorism, failure of
                      telecommunications services (including the Internet), or acts or omissions
                      of communications carriers. Performance shall be deferred until such cause
                      of delay is removed, provided that the delayed party shall notify the other
                      party of such occurrence.
                    </li>

                    <li>12.4 <strong>Notices</strong>. All notices or other communications required
                      hereunder shall be made in writing and shall be deemed to be effectively
                      given if made as follows: (a) if hand delivered, when received; (b) if
                      mailed, three (3) days after being deposited postage prepaid in the United
                      States mail or its equivalent, and sent via certified mail, return receipt
                      requested, or its equivalent; (c) if faxed, on the date of the sending
                      party's receipt of confirmation of transmission; or (d) if mailed for
                      overnight delivery, when delivered by the overnight carrier. Each party may
                      change its notices address by giving notice in the manner set forth herein.
                      Customer agrees to promptly notify Motorola in writing of any breach or
                      suspected breach of this Agreement.
                    </li>

                    <li>12.5 <strong>Governing Law</strong>. This Agreement and any claim arising
                      under or related to this Agreement will be governed by the laws of the State
                      of Illinois, without regard to conflict of laws principles
                    </li>

                    <li>12.6 <strong>Injunctive Relief</strong>. Customer acknowledges that the
                      Services contain valuable trade secrets and proprietary information of
                      Motorola and its technology providers, that any actual or threatened breach
                      of Section 3 will constitute immediate, irreparable harm to Motorola and/or
                      its technology providers for which monetary damages would be an inadequate
                      remedy, and that injunctive relief is an appropriate remedy for such breach.
                      Notwithstanding anything in this Agreement to the contrary, Motorola and its
                      technology providers reserve the right to obtain injunctive relief and any
                      other appropriate remedies from any court of competent jurisdiction in
                      connection with any actual, alleged, or suspected breach of Section 3,
                      infringement, misappropriation or violation of Motorola's or its technology
                      provider’s intellectual property rights, or the unauthorized use of
                      Motorola's Confidential Information. Any such action or proceeding may be
                      brought in any court of competent jurisdiction.
                    </li>

                    <li>12.7 <strong>Independent Contractors</strong>. Motorola and Customer are
                      independent contractors under this Agreement, which shall not be construed
                      to create any partnership, joint venture, franchisor-franchisee or agency
                      relationship, or to authorize any party to enter into any commitment or
                      agreement binding on the other party.
                    </li>

                    <li>12.8 <strong>Severability; Waiver</strong>. If any provision of this
                      Agreement is found to be invalid or unenforceable, the remaining provisions
                      shall remain in full force and effect, and this Agreement shall be deemed
                      amended to replace, to the extent legally permitted, the rights and
                      obligations contained in such invalid or unenforceable provision. Except as
                      otherwise provided, any failure or delay by either party hereto to detect,
                      protest, or remedy any breach of this Agreement, or to exercise (or any
                      single or partial exercise of) any right or remedy shall not constitute a
                      waiver or impairment of any such term or condition, or be deemed a waiver of
                      any further, prior, or future right or remedy hereunder.
                    </li>

                    <li>12.9 <strong>Updates to Terms of Service</strong>. This Agreement may be
                      modified by Motorola with at least 30 days advance written (including
                      electronic) notice, and any such updated terms will only apply on the
                      renewal date under the Order Form and on a prospective basis.
                    </li>

                    <li>12.10 <strong>Feedback</strong>. By submitting ideas, suggestions or
                      feedback to Motorola or its technology providers regarding the Service,
                      Customer agrees that such items submitted do not contain confidential or
                      proprietary information; and Customer hereby grants Motorola an irrevocable,
                      unlimited, royalty-free and fully-paid perpetual license to use such items
                      for any business purpose.
                    </li>

                    <li>12.11 <strong>Entire Agreement</strong>. This Agreement and the Order Forms
                      together are a binding contract and constitute the entire agreement and
                      understanding of the parties, whether oral or written, relating to the
                      subject matter hereof; are intended as the parties' final expression and
                      complete and exclusive statement of the terms hereof, superseding all prior
                      or contemporaneous agreements, representations, communications, promises and
                      understandings, whether written or oral; and may be amended or modified only
                      by an instrument in writing signed by both parties. Neither party is relying
                      on any statements or representations not contained in this Agreement or an
                      Order Form.
                    </li>
                  </ul>
                </li>
              </ol>

              <p>
                <small>Revision: January 2016</small>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>