.cluster-map {
    width: 100%;
    height: 100%;
}

.cluster-map .map-instance {
    width: 100%;
    height: 100%;
}

.cluster-map .map-instance path.shape {
    pointer-events: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill-rule: evenodd;
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill-opacity: 0.35;
}

.cluster-map .map-instance path.shape.agency {
    display: none;
    stroke: #7d8f9e;
    fill: rgba(125, 143, 158, 0.5);
}

.cluster-map .map-instance path.shape.neighbourhood {
    fill: #aa55aa;
    stroke: #aa55aa;
}

.cluster-map .map-instance path.shape.selected {
    display: block;
}

.cluster-map .copyright-info-terms-links {
    position: fixed;
    bottom: 30px;
    z-index: 1001;
    left: 50%;
    margin-left: -140px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 0;
}

.cluster-map .copyright-info-terms-links p {
    float: left;
    margin: 0 10px;
}

.cluster-map .copyright-info-terms-links a {
    float: left;
    margin-right: 10px;
    color: #374045;
}

/*map region*/
.shapes-choice {
    position: absolute;
    left: 3rem;
    bottom: 0.75rem;
    font-size: 0.85rem;
    z-index: 1001;
}

.shapes-choice #show-layers-btn {
    width: 6rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    color: #1B86C8;
    border-radius: 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

.shapes-choice .mr-dropdown-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    /* float: left; */
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: white;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.shapes-choice .mr-dropdown-menu h4 {
    position: fixed;
    width: 80%;
    max-width: 256px;
    background-color: #fff;
    margin: 0;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #374045;
    font-size: 1.2rem;
    border-bottom: 1px solid #e5e5e5;
}

.shapes-choice .mr-dropdown-menu1 {
    width: 80%;
    min-width: 256px;
    max-height: 260px;
    padding: 0 0 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 60px;
    color: #374045;
}

.shapes-choice .mr-dropdown-menu1 li label {
    display: block;
    font-weight: 500;
    font-size: .8rem;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shapes-choice .mr-dropdown-menu1 li label input {
    height: 20px;
    width: 30px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 0px;
}
.col-marker-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40px;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    padding: 2px 0 0 0;
}

.col-marker-label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - 40px);
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100% - 40px);
    -ms-flex: 0 0 calc(100% - 40px);
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
}

.col-48 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 48px;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
    max-width: 48px;
}

.col-48 .plus_img {
    max-height: 48px;
    max-width: 48px;
    padding-top: 9px;
}

.col-agency-name {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - 96px);
    -moz-box-flex: 0;
    -moz-flex: 0 0 calc(100% - 96px);
    -ms-flex: 0 0 calc(100% - 96px);
    flex: 0 0 calc(100% - 96px);
    max-width: calc(100% - 96px);
}
.selected2{
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #af400b !important;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #af400b !important;
    -ms-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #af400b !important;
    -o-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #af400b !important;
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px #af400b !important;}

/*# sourceMappingURL=cluster-map.css.map */
