.trends-view {
  margin-bottom: 49px;
}

.trend-chart-list {
  background-color: #fff;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.trend-chart-list .line-chart .ct-chart {
  height: 150px;
}

.trend-chart-list .content-block {
  padding: 0 0 1rem 0rem;
  color: #374045;
}

.trend-chart-list .content-block h2 {
  font-size: 1.5rem;
}

.trend-chart-list .content-block h3 {
  font-size: 0.8rem;
}

.trend-chart-list .content-block p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.trend-chart-list .content-block .header-text {
  padding: 0 1rem 1rem;
  color: inherit;
  margin-bottom: 0;
}

.trend-chart-list .content-block .header-text em {
  font-style: normal;
  font-weight: normal;
}

.trend-chart-list .trends-loading-wrapper {
  position: absolute;
  text-align: center;
  width: 180px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: -90px;
  left: 50%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.trend-chart-list .trends-loading-wrapper .icon-refresh {
  vertical-align: middle;
}

.trend-chart-list .sex-offender-data {
  padding-bottom: 2rem;
}

.trend-chart-list .sex-offender-data h4 {
  padding: 0 1.5rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #58595b;
  margin: 0;
  background-color: #dedddb;
  height: 3.6rem;
  line-height: 3.6rem;
  -webkit-box-shadow: inset 0 1px 0 #a4a2a1, inset 0 -1px 0 #c0bebd;
  -moz-box-shadow: inset 0 1px 0 #a4a2a1, inset 0 -1px 0 #c0bebd;
  -ms-box-shadow: inset 0 1px 0 #a4a2a1, inset 0 -1px 0 #c0bebd;
  -o-box-shadow: inset 0 1px 0 #a4a2a1, inset 0 -1px 0 #c0bebd;
  box-shadow: inset 0 1px 0 #a4a2a1, inset 0 -1px 0 #c0bebd;
}

.trend-chart-list .sex-offender-data h3 {
  font-size: 1rem;
  padding: 1rem 1.5rem 0.5rem;
  margin: 0;
  font-weight: bold;
  color: #374045;
}

.trend-chart-list .sex-offender-data .media {
  margin: 0;
  padding: 0 1.5rem;
}

.trend-chart-list .sex-offender-data .media .media-left {
  text-align: center;
  min-width: 9rem;
  display: table-cell;
  vertical-align: top;
}

.trend-chart-list .sex-offender-data .media .media-left strong {
  font-size: 2rem;
  display: block;
  color: #b57426;
  line-height: 1;
}

.trend-chart-list .sex-offender-data .media .media-left em {
  display: block;
  font-style: normal;
  font-size: 0.7rem;
}

.trend-chart-list .sex-offender-data .media .media-body {
  display: table-cell;
  vertical-align: top;
  zoom: 1;
  overflow: hidden;
  font-size: 0.7rem;
}

.trend-chart-list .sex-offender-data .media p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.trend-chart-list .sex-offender-data .media a {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
}

.trend-chart-list .saperator {
  margin-bottom: 1rem;
  height: 6px;
  border-top: 1px solid #bfbdbc;
  border-bottom: 1px solid #bfbdbc;
  background-color: #dedddb;
}

.trend-chart-list .inc-count {
  margin-bottom: 1rem;
}

.trend-chart-list .incident-wise-counts {
  background-color: #f4f6f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.trend-chart-list .incident-wise-counts td {
  text-align: center;
  padding: 1rem 0.4rem;
  height: 5rem;
  float: left;
}

.trend-chart-list .incident-wise-counts td.items-1x {
  width: 100%;
}

.trend-chart-list .incident-wise-counts td.items-2x {
  width: 50%;
}

.trend-chart-list .incident-wise-counts td.items-3x {
  width: 33.33333%;
}

.trend-chart-list .incident-wise-counts td.items-4x {
  width: 25%;
}

.trend-chart-list .incident-wise-counts td strong {
  display: block;
  padding: 5px 0px;
  font-size: 1.5rem;
}

.trend-chart-list .incident-wise-counts td strong.violent {
  color: #066349;
}

.trend-chart-list .incident-wise-counts td strong.property {
  color: #0e499a;
}

.trend-chart-list .incident-wise-counts td strong.quality-of-life {
  color: #919100;
}

.trend-chart-list .incident-wise-counts td strong.unknown, .trend-chart-list .incident-wise-counts td strong.stops---911 {
  color: #4d3279;
}

.trend-chart-list .incident-wise-counts td strong.sex-offender {
  color: #b57426;
}

.trend-chart-list .incident-wise-counts td em {
  display: block;
  font-style: normal;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: -0.024rem;
  color: #374045;
}

.trend-chart-list .scrollable-block {
  padding-top: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: -moz-calc(100% - 5rem - 4rem);
  height: -webkit-calc(100% - 5rem - 4rem);
  height: -o-calc(100% - 5rem - 4rem);
  height: calc(100% - 5rem - 4rem);
}

.trend-chart-list .trend-table {
  margin: 0 1rem 0rem;
}

.trend-chart-list .trend-table h3 {
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
  color: #374045;
}

.trend-chart-list .trend-table h3 em {
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #999;
  float: right;
}

.trend-chart-list .trend-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trend-chart-list .trend-table ul li {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  position: relative;
  margin-left: 2rem;
  -webkit-box-shadow: 0 1px 0 #e2e3e4;
  -moz-box-shadow: 0 1px 0 #e2e3e4;
  -ms-box-shadow: 0 1px 0 #e2e3e4;
  -o-box-shadow: 0 1px 0 #e2e3e4;
  box-shadow: 0 1px 0 #e2e3e4;
}

.trend-chart-list .trend-table ul li:last-child {
  box-shadow: 0 0 transparent;
}

.trend-chart-list .trend-table ul li strong {
  font-weight: 400;
}

.trend-chart-list .trend-table ul li em {
  font-style: normal;
  float: right;
}

.trend-chart-list .trend-table ul li .crime-ikon {
  position: absolute;
  left: -2rem;
  top: 0.3rem;
  width: 22px;
  height: 22px;
  line-height: 1;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}

.trend-chart-list .trend-table ul li .crime-ikon.property {
  color: white;
  background-color: rgba(14, 73, 154, 0.9);
  border-color: rgba(14, 73, 154, 0.9);
  cursor: pointer;
}

.trend-chart-list .trend-table ul li .crime-ikon.violent {
  color: white;
  background-color: rgba(6, 99, 73, 0.9);
  border-color: rgba(6, 99, 73, 0.9);
  cursor: pointer;
}

.trend-chart-list .trend-table ul li .crime-ikon.quality-of-life {
  color: white;
  background-color: rgba(145, 145, 0, 0.9);
  border-color: rgba(145, 145, 0, 0.9);
  cursor: pointer;
}

.trend-chart-list .trend-table ul li .crime-ikon.stops---911 {
  color: white;
  background-color: rgba(77, 50, 121, 0.9);
  border-color: rgba(77, 50, 121, 0.9);
  cursor: pointer;
}

.trend-chart-list .trend-table ul li .crime-ikon {
  color: white;
  background-color: rgba(77, 50, 121, 0.9);
  border-color: rgba(77, 50, 121, 0.9);
  cursor: pointer;
}

.trends-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
}

@media (max-width: 767px) {
  .trends-container {
    /*@include calc(height, "100% - 63px");*/
    pointer-events: auto;
  }
}

@media (min-width: 768px) {
  .trends-container {
    height: -moz-calc(100% - 73px);
    height: -webkit-calc(100% - 73px);
    height: -o-calc(100% - 73px);
    height: calc(100% - 73px);
    pointer-events: none;
  }

  .trends-container > * {
    pointer-events: auto;
  }
}

/*# sourceMappingURL=trends-chartlist.css.map */
