<ion-view>
  <ion-content class="trends-view">
    <trend-overlay url-params="dataSource.filters"
                   historic-data="trendSource.allHistoricData" bar-data="trendSource.barData"
                   table-data="trendSource.tableData" sex-offenders-count="dataSource.viewportSexOffendersCount"
                   trends-list-active="trendSource.isPlusCustumerMode" is-trends-loading="trendSource.loading2"
                   partial-category-filter="dataSource.partialCategoryFilter"
                   explore-agency-mode="ifExploreAgency">
    </trend-overlay>
    <br>
    <br>
  </ion-content>
</ion-view>

