/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

.leaflet-tile-loaded {
  visibility: inherit;
}

.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

.leaflet-tile-pane {
  z-index: 2;
}

.leaflet-objects-pane {
  z-index: 3;
}

.leaflet-overlay-pane {
  z-index: 4;
}

.leaflet-shadow-pane {
  z-index: 5;
}

.leaflet-marker-pane {
  z-index: 6;
}

.leaflet-popup-pane {
  z-index: 7;
}

.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.leaflet-top {
  top: 0;
}

.leaflet-right {
  right: 0;
}

.leaflet-bottom {
  bottom: 0;
}

.leaflet-left {
  left: 0;
}

.leaflet-control {
  float: left;
  clear: both;
}

.leaflet-right .leaflet-control {
  float: right;
}

.leaflet-top .leaflet-control {
  margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
  margin-left: 10px;
}

.leaflet-right .leaflet-control {
  margin-right: 10px;
}

.leaflet-control-container .leaflet-left .leaflet-bar a {
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #fff;
  text-indent: inherit;
  color: transparent;
  overflow: hidden;
  outline: 0px;
  border: 0 none;
}

.leaflet-control-container .leaflet-left .leaflet-bar a:before {
  display: block;
  color: #1B86C8;
}

.leaflet-control-container .leaflet-left .leaflet-bar a.leaflet-control-zoom-in:before {
  content: "\e907";
}

.leaflet-control-container .leaflet-left .leaflet-bar a.leaflet-control-zoom-out:before {
  content: "\e906";
}

.platform-ios .leaflet-control-container .leaflet-left .leaflet-bar a.leaflet-control-zoom-in:before {
  content: "\e923";
}

.platform-ios .leaflet-control-container .leaflet-left .leaflet-bar a.leaflet-control-zoom-out:before {
  content: "\e922";
}

.leaflet-control-container .leaflet-left .leaflet-bar a:first-child:after {
  content: '';
  display: block;
  height: 0.15rem;
  background-color: #D0D2D3;
  position: absolute;
  bottom: 0;
  left: 4px;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: -o-calc(100% - 8px);
  width: calc(100% - 8px);
}

.leaflet-control-container .leaflet-left .leaflet-bar a:first-child {
  position: relative;
  height: 2.3rem;
}

.leaflet-control-container .leaflet-left .leaflet-bar, .leaflet-control-container .leaflet-left .leaflet-control-layers {
  border: 2px;
  border-radius: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

/*css for plus customer*/
/*.leaflet-marker-icon.icons-agency.plus-customer:hover strong,.leaflet-marker-icon.icons-sheriff.plus-customer:hover strong{
    left: -48px;
    width: 120px;

}*/
.leaflet-marker-icon.icons-agency.plus-customer.selectedMarker strong, .leaflet-marker-icon.icons-sheriff.plus-customer.selectedMarker strong {
  left: -48px;
  width: 120px;

}

.leaflet-marker-icon.icons-agency.plus-customer strong, .leaflet-marker-icon.icons-sheriff.plus-customer strong {
  position: absolute;
  bottom: 24px;
  left: -16px;
  width: 56px;
  padding: 0.1rem;
  background-color: rgba(248, 163, 72, 0.95);
  font-size: 0.7rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.543;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.028rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
  -ms-text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
  -o-text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
}

.leaflet-marker-icon.icons-agency.plus-customer.selectedMarker strong, .selectedMarker strong .div1, .selectedMarker strong .div2 {
  background-color: #af400b !important;
}

.leaflet-marker-icon.icons-sheriff.plus-customer.selectedMarker strong, .selectedMarker strong .div1, .selectedMarker strong .div2 {
  background-color: #af400b !important;
}

.leaflet-marker-icon.icons-agency.plus-customer strong span, .leaflet-marker-icon.icons-sheriff.plus-customer strong span {
  display: none;
}

/*.leaflet-marker-icon.icons-agency.plus-customer:hover strong span, .leaflet-marker-icon.icons-sheriff.plus-customer:hover strong span {
    display: inline;
}*/
.leaflet-marker-icon.icons-agency.plus-customer.selectedMarker strong span, .leaflet-marker-icon.icons-sheriff.plus-customer.selectedMarker strong span {
  display: inline;
}

.leaflet-marker-icon.icons-agency.plus-customer strong .div1, .leaflet-marker-icon.icons-sheriff.plus-customer strong .div1 {
  bottom: -2px;
  left: 2;
  -webkit-transform: rotate(21deg);
  -moz-transform: rotate(21deg);
  -ms-transform: rotate(21deg);
  -o-transform: rotate(21deg);
  transform: rotate(21deg);
  width: 19px;
  height: 17px;
  top: 11;
  position: absolute;
  background: rgba(248, 163, 72, 0.95);
  z-index: -1;
  border-radius: 2px;
}

/*.leaflet-marker-icon.icons-agency.plus-customer:hover strong .div1,.leaflet-marker-icon.icons-sheriff.plus-customer:hover strong .div1{
    width: 47px;
    bottom: -5px;
    transform: rotate(13deg);
}*/
.leaflet-marker-icon.icons-agency.plus-customer.selectedMarker strong .div1, .leaflet-marker-icon.icons-sheriff.plus-customer.selectedMarker strong .div1 {
  width: 47px;
  bottom: -5px;
  -webkit-transform: rotate(15deg) !important;
  border-radius: 2px;
}

/*.leaflet-marker-icon.icons-agency.plus-customer:hover strong .div2,.leaflet-marker-icon.icons-sheriff.plus-customer:hover strong .div2{
    width: 48px;
    left: 69px;
    bottom: -5px;
    transform: rotate(-13deg);
}*/
.leaflet-marker-icon.icons-agency.plus-customer.selectedMarker strong .div2, .leaflet-marker-icon.icons-sheriff.plus-customer.selectedMarker strong .div2 {
  width: 48px;
  left: 68px;
  bottom: -5px;
  -webkit-transform: rotate(-13deg);
  border-radius: 2px;
}

.leaflet-marker-icon.icons-agency.plus-customer strong .div2, .leaflet-marker-icon.icons-sheriff.plus-customer strong .div2 {
  bottom: -2px;
  left: 33px;
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  width: 20px;
  height: 17px;
  top: 11;
  position: absolute;
  background: rgba(248, 163, 72, 0.95);
  z-index: -1;
  border-radius: 2px;
}

/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */

.leaflet-clickable {
  cursor: pointer;
}

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
.leaflet-bottom {
  bottom: 28px !important;
}

.leaflet-container {
  background: #ddd;
  outline: 0;
}

/*.leaflet-container a {
    color: #0078A8 !important;
}*/
.leaflet-container a {
  color: #7b8082 !important;
  font-weight: 600 !important;
}

.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */

.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

.leaflet-control-zoom-out {
  font-size: 20px;
}

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */

.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-layers label {
  display: block;
}

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

.leaflet-control-attribution a {
  text-decoration: none;
}

.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */

.leaflet-popup {
  position: absolute;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

.leaflet-popup-content p {
  margin: 18px 0;
}

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;

  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 5px 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */

.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

.p-heading {
  margin: 0px !important;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.p-text {
  font-size: 16px;
  margin: 0px;
  color: #aaaaaa;
}

.p-small-text {
  font-size: 1em;
  margin: 0px;
  color: #333;
}

.p-text14 {
  font-size: 1em;
  margin: 0px;
  color: #717476;
}

.p-text14 b {
  color: #374045;
}

.width13 {
  min-width: 13px;
}

.font14 {
  font-size: 12px !important;
}

.margin-0 {
  margin: 0px;
}

.Tmargin-15 {
  margin-top: 15px !important;
}

.padding-5 {
  padding: 5px;
}

.padding-left10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-5-10 {
  padding: 5px 10px !important;
}

.padding-20-5 {
  padding: 20px 5px !important;
}

.color-aaa {
  color: #aaaaaa !important;
}

.color-444 {
  color: #444;
}

.color-violet {
  color: darkviolet;
}

.color-cyan {
  color: darkcyan;
}

.color-orange {
  color: orange;
}

.bottom-border1 {
  border-bottom: 1px solid #ddd;
}

.min-height50 {
  min-height: 44px !important;

}

.absolute {
  border-radius: 50%;
  height: 100%;
  left: 0 !important;
  max-height: 35px !important;
  max-width: 40px;
  position: absolute;
  top: 0 !important;
  width: 100%;
}

.font-30 {
  font-size: 30px;
}

.white1 {
  color: #fff !important;
}

/*.has-my-header{
    top:44px !important;
}*/
.leaflet-top {
  top: 80px;
}

.padding0 {
  padding: 0px !important;
}

.overflow {
  height: 2.2em;
  overflow: hidden;
}

.my-tabs {
  /*    float: left;
      width: 62%;
      height: 35px;
      padding: 2px 5px;*/
}

.padding-10 {
  padding: 10px !important;
}

.pad5-15 {
  padding: 5px 15px;
}

.pad-left20 {
  padding-left: 20px;
}

.border-none {
  border: none !important;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.width100 {
  width: 100%;
}

.my-header {
  background-color: #28566c;
  color: #fff;
  padding: 0px;
}

.my-back {
  font-size: 21px;
  padding: 11px;
}

.my-title {
  padding: 11px;
  font-size: 20px;
}

.done-btn {
  float: right;
  padding: 11px;
  position: absolute;
  right: 0px;
}

.margin0 {
  margin: 0px;
}

.font-1-3 {
  font-size: 1.3em;
}

.font-0-9 {
  font-size: 0.9em !important;
}

.float-left {
  float: left;
}

.ctab {
  color: #fff;
  width: 25%;
  padding: 0px 10px 0px 10px;
  text-align: center;
  font-size: 23px;
  margin-bottom: 10PX;
}

.tab-50 {
  width: 50% !important;
}

.bottom-border {
  border-bottom: 4px solid #fff;
}